openapi: 3.0.0
info:
  description: |
    [**Selit! API**](http://api.selit.ml) es una interfaz basada en HTTP, creada 
    para los desarrolladores que deseen construir nuevas interfaces de 
    aplicación al portal [Selit!](http://selit.ml).

    # Introducción
    Esta API está documentada en **formato OpenAPI**. Además de la sintaxis
    estándar de OpenAPI se usa un [repertorio extendido](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md).

    La API se estructura en torno a los recursos disponibles dentro de la 
    apliación Selit!. La interacción con dichos recursos se realiza a través de 
    peticiones HTTP. Cada operación sobre un recurso puede requerir un nivel de 
    autenticación diferente.

    ## Recursos
    Los recursos de la API se pueden clasificar según su comportamiento en 
    cuatro grupos.

    | Nombre      | Comentario |
    | ----------- | ---------- |
    | Documento   | Representación de un objeto o insta por el servidor. |
    | Colección   | Conjunto de documentos manejado por el servidor. |
    | Almacén     | Directorio de documentos manejado por el cliente. |
    | Controlador | Procedimiento asociado a un documento. |
        
    Los **Documentos** pueden contener **Colecciones**, así como **Almacenes**,
    como parte de sus atributos. Cada **Documento** tiene asociado un 
    identificador único dentro de las **Colecciones** o **Alamacenes** a los 
    que pertenezca.
        
    Los principales recursos de tipo **Documento** son los siguientes.

    | Recurso | Descripción |
    | ------- | ----------- | 
    | Usuario | Toda persona registrada en la aplicación. | 
    | Anuncio | Venta de un objeto mediante compra directa. |
    | Subasta | Venta de un objeto mediante pujas incrementales. |
    | Chat    | Conversación entre dos usuarios en referencia a un anuncio. |

    ## Operaciones
    Las operaciones sobre los recursos se realizan mediante peticiones HTTP. 
    La semántica de cada petición varía en función del tipo de recurso.

    | Petición | Recurso     | Descripción |
    | -------- | ----------- | ----------- |
    | GET      | Documento   | Obtener la inforación asociada a la instancia. |
    | GET      | Colección   | Lista de objetos que pertenecen al recurso. |
    | GET      | Almacén     | Lista de objetos que han sido añadidos al recurso. |
    | HEAD     | Documento   | Comprueba la existencia de un recurso. |
    | PUT      | Documento   | Inserta o actualiza un documento (o parte de un documento). |
    | POST     | Colección   | Crea un nuevo recurso en la colección. |
    | POST     | Controlador | Ejecuta el comportamiento asociado al procedimiento. |
    | DELETE   | Documento   | Elimina el recurso de su padre. |
    | OPTIONS  | *Todos*     | Devuelve la lista de posibles operaciones sobre el recurso. |

    ## Códigos de respuesta

    Las operaciones con recursos pueden ocasionar errores que serán transmitidos
    en la respuesta a la petición HTTP.

    ### Códigos de éxito

    | Código | Nombre            | Descripción |
    | ------ | ----------------- | ----------- |
    | 200    | OK                | Indica éxito genérico en la operación. |
    | 201    | Created           | Indica que un nuevo recurso ha sido creado (p. ej. en colecciones o almacenes). |
    | 202    | Accepted          | Indica el inicio una acción asíncrona (p. ej. en controladores). |
    | 204    | No Content        | Indica que el cuerpo de la respuesta está vacío de forma intencionada. |
    | 301    | Moved Permanently | Indica que la URI solicitada ya no corresponde con el recurso solicitado. |

    ### Códigos de fracaso

    | Código | Nombre                | Descripción |
    | ------ | --------------------- | ----------- |
    | 400    | Bad Request           | Indica un error genérico en la operación. |
    | 401    | Unauthorized          | Indica que los credenciales de usuario son incorrectos o no han sido enviados. |
    | 402    | Forbidden             | Indica que el usuario identificado no tiene permiso para realizar la operación. |
    | 404    | Not Found             | Indica que no se encontró el recurso asociado con la URI. |
    | 405    | Method Not Allowed    | Indica que el método HTTP (petición) no es válido sobre dicho recurso. |
    | 409    | Conflict              | Indica que la operación ha sido rechazada porque violaba restricciones del estado del recurso. |
    | 412    | Precondition Failed   | Indica incumplimiento de una de las precondiciones de la operación. |
    | 415    | Unsupported Media     | Indica que el formato multimedia no es soportado por el servidor. |
    | 500    | Internal Server Error | Indica que el servidor de la API está teniendo problemas ajenos a la petición. |

    La mayoría de los códigos de error irán acompañados de una explicación más 
    detallada en el cuerpo de la respuesta.

    # Autenticación
    Selit! API ofrece los siguientes métodos de autenticación:
      - JWT

    <security-definitions/> 
  version: 1.0.0
  title: Selit! API
  contact:
    name: API Support
    url: 'https://github.com/unizar-30226-2019-07/API'
  x-logo:
    url: 'https://i.imgur.com/UTVJLgd.png'
    altText: Selit logo
  license:
    name: MIT License
    url: 'https://raw.githubusercontent.com/unizar-30226-2019-07/API/master/LICENSE'
tags:
  - name: login
    description: Gestion de sesiones de usuario
  - name: users
    description: Gestión de cuentas de usuario
  - name: products
    description: Gestión de productos
  - name: chats
    description: Gestión de mensajes
x-tagGroups:
  - name: General
    tags:
      - default
  - name: Usuarios
    tags:
      - users
  - name: Productos
    tags:
      - products
  - name: Chat
    tags:
      - chats
servers:
  - url: 'http://api.selit.ml/v1'
  - url: 'https://api.selit.ml/v1'
paths:
  /users:
    get:
      tags:
        - users
      summary: Obtener lista de Usuarios
      description: Carga una lista con todos los usuarios registrados en la aplicación que cumplen las condiciones.
      parameters:
        - name: email
          in: query
          required: false
          description: Correo electrónico del usuario.
          example: johndoe@example.com
          schema:
            type: string
        - name: $size
          in: query
          required: false
          description: Tamaño de la página.
          example: 10
          schema:
            type: integer
            minimum: 1
        - name: $page
          in: query
          required: false
          description: Número de página.
          example: 1
          schema:
            type: integer
            minimum: 1
        - name: $sort
          in: query
          required: false
          description: Atributo(s) por los que ordenar.
          example: birth_date DESC
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      tags:
        - users
      summary: Crear nuevo Usuario
      description: Añade un Usuario a la aplicación
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
        required: true
      responses:
        '201':
          description: Nuevo usuario creado
  '/users/{user_id}':
    get:
      tags:
        - users
      summary: Obtener un Usuario
      description: Carga la información de un Usuario.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: No encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                response:
                  value:
                    code: 404
                    description: 'The user [user_id] does not exist.'
                    reasonPhrase: Not Found
    put:
      tags:
        - users
      summary: Actualizar un Usuario
      description: Modificar la información de un usuario preexistente.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '200':
          description: OK
        '404':
          description: No encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                response:
                  value:
                    code: 404
                    description: 'The user [user_id] does not exist.'
                    reasonPhrase: Not Found
        '409':
          description: Conflicto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                response:
                  value:
                    code: 409
                    description: 'The email [email] already exist.'
                    reasonPhrase: Conflict
    delete:
      tags:
        - users
      summary: Eliminar un Usuario
      description: Elimina la información de un usuario de la base de datos.
      responses:
        '200':
          description: OK
        '404':
          description: No encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                response:
                  value:
                    code: 404
                    description: 'The user [user_id] does not exist.'
                    reasonPhrase: Not Found
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
  '/users/{user_id}/change_password':
    post:
      tags:
        - users
      summary: Cambiar contraseña
      parameters:
        - name: old
          in: query
          required: false
          description: Contraseña actual
          example: 1234abcd
          schema:
            type: string
        - name: new
          in: query
          required: true
          description: Nueva contraseña
          example: 5678efgh
          schema:
            type: string
      responses:
        '200':
          description: OK
        '404':
          description: No encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondición fallida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                response:
                  value:
                    code: 412
                    description: 'Wrong [old] password'
                    reasonPhrase: Precondition Failed
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
components:
  schemas:
    Error:
      type: object
      required:
        - code
      properties:
        code:
          type: integer
          description: Código HTTP de error
          minimum: 400
          maximum: 599
        description:
          type: string
          description: Descripción detallada del error
          example: 'Bad query parameter [$size]: Invalid integer value [abc]'
        reasonPhrase:
          type: string
          description: Nombre del código de estado HTTP
          example: Bad Request
      description: Estructura general de los errores de la API
      example:
        code: 400
        description: 'Bad query parameter [$size]: Invalid integer value [abc]'
        reasonPhrase: Bad Request
    Location:
      type: object
      required:
        - lat
        - lng
      properties:
        lat:
          type: number
          description: Latitud
          minimum: -90
          maximum: 90
          example: -34.397
        lng:
          type: number
          description: Longitud
          minimum: -180
          maximum: 180
          example: 150.644
      description: Ubicación geográfica.
      example:
        lat: -34.397
        lng: 150.644
    NewUser:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          required:
            - password
          properties:
            password:
              writeOnly: true
              type: string
              format: password
              description: Contraseña de inicio de sesión
              minLength: 8
    Picture:
      type: object
      required:
        - base64
        - mime
      properties:
        mime:
          type: string
          description: Tipo de dato MIME
          enum:
            - image/bmp
            - image/jpeg
            - image/gif
            - image/png
            - image/svg+xml
            - image/tiff
        charset:
          type: string
          description: Conjunto de caracteres
          default: utf-8
        base64:
          type: string
          description: Datos en base 64
          example: R0lGODlhPQBEAPeoAJosM//AwO/AwHVYZ/z595kzAP/s7P+goOXMv8+fhw/v739/f+8PD98fH/8mJl+fn/9ZWb8/PzWlwv///6wWGbImAPgTEMImIN9gUFCEm/gDALULDN8PAD6atYdCTX9gUNKlj8wZAKUsAOzZz+UMAOsJAP/Z2ccMDA8PD/95eX5NWvsJCOVNQPtfX/8zM8+QePLl38MGBr8JCP+zs9myn/8GBqwpAP/GxgwJCPny78lzYLgjAJ8vAP9fX/+MjMUcAN8zM/9wcM8ZGcATEL+QePdZWf/29uc/P9cmJu9MTDImIN+/r7+/vz8/P8VNQGNugV8AAF9fX8swMNgTAFlDOICAgPNSUnNWSMQ5MBAQEJE3QPIGAM9AQMqGcG9vb6MhJsEdGM8vLx8fH98AANIWAMuQeL8fABkTEPPQ0OM5OSYdGFl5jo+Pj/+pqcsTE78wMFNGQLYmID4dGPvd3UBAQJmTkP+8vH9QUK+vr8ZWSHpzcJMmILdwcLOGcHRQUHxwcK9PT9DQ0O/v70w5MLypoG8wKOuwsP/g4P/Q0IcwKEswKMl8aJ9fX2xjdOtGRs/Pz+Dg4GImIP8gIH0sKEAwKKmTiKZ8aB/f39Wsl+LFt8dgUE9PT5x5aHBwcP+AgP+WltdgYMyZfyywz78AAAAAAAD///8AAP9mZv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAKgALAAAAAA9AEQAAAj/AFEJHEiwoMGDCBMqXMiwocAbBww4nEhxoYkUpzJGrMixogkfGUNqlNixJEIDB0SqHGmyJSojM1bKZOmyop0gM3Oe2liTISKMOoPy7GnwY9CjIYcSRYm0aVKSLmE6nfq05QycVLPuhDrxBlCtYJUqNAq2bNWEBj6ZXRuyxZyDRtqwnXvkhACDV+euTeJm1Ki7A73qNWtFiF+/gA95Gly2CJLDhwEHMOUAAuOpLYDEgBxZ4GRTlC1fDnpkM+fOqD6DDj1aZpITp0dtGCDhr+fVuCu3zlg49ijaokTZTo27uG7Gjn2P+hI8+PDPERoUB318bWbfAJ5sUNFcuGRTYUqV/3ogfXp1rWlMc6awJjiAAd2fm4ogXjz56aypOoIde4OE5u/F9x199dlXnnGiHZWEYbGpsAEA3QXYnHwEFliKAgswgJ8LPeiUXGwedCAKABACCN+EA1pYIIYaFlcDhytd51sGAJbo3onOpajiihlO92KHGaUXGwWjUBChjSPiWJuOO/LYIm4v1tXfE6J4gCSJEZ7YgRYUNrkji9P55sF/ogxw5ZkSqIDaZBV6aSGYq/lGZplndkckZ98xoICbTcIJGQAZcNmdmUc210hs35nCyJ58fgmIKX5RQGOZowxaZwYA+JaoKQwswGijBV4C6SiTUmpphMspJx9unX4KaimjDv9aaXOEBteBqmuuxgEHoLX6Kqx+yXqqBANsgCtit4FWQAEkrNbpq7HSOmtwag5w57GrmlJBASEU18ADjUYb3ADTinIttsgSB1oJFfA63bduimuqKB1keqwUhoCSK374wbujvOSu4QG6UvxBRydcpKsav++Ca6G8A6Pr1x2kVMyHwsVxUALDq/krnrhPSOzXG1lUTIoffqGR7Goi2MAxbv6O2kEG56I7CSlRsEFKFVyovDJoIRTg7sugNRDGqCJzJgcKE0ywc0ELm6KBCCJo8DIPFeCWNGcyqNFE06ToAfV0HBRgxsvLThHn1oddQMrXj5DyAQgjEHSAJMWZwS3HPxT/QMbabI/iBCliMLEJKX2EEkomBAUCxRi42VDADxyTYDVogV+wSChqmKxEKCDAYFDFj4OmwbY7bDGdBhtrnTQYOigeChUmc1K3QTnAUfEgGFgAWt88hKA6aCRIXhxnQ1yg3BCayK44EWdkUQcBByEQChFXfCB776aQsG0BIlQgQgE8qO26X1h8cEUep8ngRBnOy74E9QgRgEAC8SvOfQkh7FDBDmS43PmGoIiKUUEGkMEC/PJHgxw0xH74yx/3XnaYRJgMB8obxQW6kL9QYEJ0FIFgByfIL7/IQAlvQwEpnAC7DtLNJCKUoO/w45c44GwCXiAFB/OXAATQryUxdN4LfFiwgjCNYg+kYMIEFkCKDs6PKAIJouyGWMS1FSKJOMRB/BoIxYJIUXFUxNwoIkEKPAgCBZSQHQ1A2EWDfDEUVLyADj5AChSIQW6gu10bE/JG2VnCZGfo4R4d0sdQoBAHhPjhIB94v/wRoRKQWGRHgrhGSQJxCS+0pCZbEhAAOw==
      description: Archivo multimedia de imagen.
      example:
        mime: image/gif
        charset: utf-8
        base64: R0lGODlhPQBEAPeoAJosM//AwO/AwHVYZ/z595kzAP/s7P+goOXMv8+fhw/v739/f+8PD98fH/8mJl+fn/9ZWb8/PzWlwv///6wWGbImAPgTEMImIN9gUFCEm/gDALULDN8PAD6atYdCTX9gUNKlj8wZAKUsAOzZz+UMAOsJAP/Z2ccMDA8PD/95eX5NWvsJCOVNQPtfX/8zM8+QePLl38MGBr8JCP+zs9myn/8GBqwpAP/GxgwJCPny78lzYLgjAJ8vAP9fX/+MjMUcAN8zM/9wcM8ZGcATEL+QePdZWf/29uc/P9cmJu9MTDImIN+/r7+/vz8/P8VNQGNugV8AAF9fX8swMNgTAFlDOICAgPNSUnNWSMQ5MBAQEJE3QPIGAM9AQMqGcG9vb6MhJsEdGM8vLx8fH98AANIWAMuQeL8fABkTEPPQ0OM5OSYdGFl5jo+Pj/+pqcsTE78wMFNGQLYmID4dGPvd3UBAQJmTkP+8vH9QUK+vr8ZWSHpzcJMmILdwcLOGcHRQUHxwcK9PT9DQ0O/v70w5MLypoG8wKOuwsP/g4P/Q0IcwKEswKMl8aJ9fX2xjdOtGRs/Pz+Dg4GImIP8gIH0sKEAwKKmTiKZ8aB/f39Wsl+LFt8dgUE9PT5x5aHBwcP+AgP+WltdgYMyZfyywz78AAAAAAAD///8AAP9mZv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAKgALAAAAAA9AEQAAAj/AFEJHEiwoMGDCBMqXMiwocAbBww4nEhxoYkUpzJGrMixogkfGUNqlNixJEIDB0SqHGmyJSojM1bKZOmyop0gM3Oe2liTISKMOoPy7GnwY9CjIYcSRYm0aVKSLmE6nfq05QycVLPuhDrxBlCtYJUqNAq2bNWEBj6ZXRuyxZyDRtqwnXvkhACDV+euTeJm1Ki7A73qNWtFiF+/gA95Gly2CJLDhwEHMOUAAuOpLYDEgBxZ4GRTlC1fDnpkM+fOqD6DDj1aZpITp0dtGCDhr+fVuCu3zlg49ijaokTZTo27uG7Gjn2P+hI8+PDPERoUB318bWbfAJ5sUNFcuGRTYUqV/3ogfXp1rWlMc6awJjiAAd2fm4ogXjz56aypOoIde4OE5u/F9x199dlXnnGiHZWEYbGpsAEA3QXYnHwEFliKAgswgJ8LPeiUXGwedCAKABACCN+EA1pYIIYaFlcDhytd51sGAJbo3onOpajiihlO92KHGaUXGwWjUBChjSPiWJuOO/LYIm4v1tXfE6J4gCSJEZ7YgRYUNrkji9P55sF/ogxw5ZkSqIDaZBV6aSGYq/lGZplndkckZ98xoICbTcIJGQAZcNmdmUc210hs35nCyJ58fgmIKX5RQGOZowxaZwYA+JaoKQwswGijBV4C6SiTUmpphMspJx9unX4KaimjDv9aaXOEBteBqmuuxgEHoLX6Kqx+yXqqBANsgCtit4FWQAEkrNbpq7HSOmtwag5w57GrmlJBASEU18ADjUYb3ADTinIttsgSB1oJFfA63bduimuqKB1keqwUhoCSK374wbujvOSu4QG6UvxBRydcpKsav++Ca6G8A6Pr1x2kVMyHwsVxUALDq/krnrhPSOzXG1lUTIoffqGR7Goi2MAxbv6O2kEG56I7CSlRsEFKFVyovDJoIRTg7sugNRDGqCJzJgcKE0ywc0ELm6KBCCJo8DIPFeCWNGcyqNFE06ToAfV0HBRgxsvLThHn1oddQMrXj5DyAQgjEHSAJMWZwS3HPxT/QMbabI/iBCliMLEJKX2EEkomBAUCxRi42VDADxyTYDVogV+wSChqmKxEKCDAYFDFj4OmwbY7bDGdBhtrnTQYOigeChUmc1K3QTnAUfEgGFgAWt88hKA6aCRIXhxnQ1yg3BCayK44EWdkUQcBByEQChFXfCB776aQsG0BIlQgQgE8qO26X1h8cEUep8ngRBnOy74E9QgRgEAC8SvOfQkh7FDBDmS43PmGoIiKUUEGkMEC/PJHgxw0xH74yx/3XnaYRJgMB8obxQW6kL9QYEJ0FIFgByfIL7/IQAlvQwEpnAC7DtLNJCKUoO/w45c44GwCXiAFB/OXAATQryUxdN4LfFiwgjCNYg+kYMIEFkCKDs6PKAIJouyGWMS1FSKJOMRB/BoIxYJIUXFUxNwoIkEKPAgCBZSQHQ1A2EWDfDEUVLyADj5AChSIQW6gu10bE/JG2VnCZGfo4R4d0sdQoBAHhPjhIB94v/wRoRKQWGRHgrhGSQJxCS+0pCZbEhAAOw==
    User:
      type: object
      required:
        - email
        - first_name
        - last_name
        - id
        - rating
        - status
      properties:
        id:
          readOnly: true
          type: integer
          format: int32
          description: Identificador único
          minimum: 1
        email:
          type: string
          format: email
          description: Correo electrónico
          maxLength: 254
          pattern: '[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*'
          example: johndoe@example.com
        status:
          readOnly: true
          type: string
          description: Estado de la cuenta
          enum:
            - active
            - inactive
            - pending
        first_name:
          type: string
          description: Nombre de pila
        last_name:
          type: string
          description: Apellido(s)
        gender:
          type: string
          description: Género
          enum:
            - male
            - female
            - other
        birth_date:
          type: string
          format: date
          description: Fecha de nacimiento
          example: 1970-01-01T00:00:00.000Z
        location:
          $ref: '#/components/schemas/Location'
        rating:
          readOnly: true
          type: number
          description: Valoración
          minimum: 0
          maximum: 5
          example: 2.75
        picture:
          $ref: '#/components/schemas/Picture'
      description: Representación de un Usuario.
      example:
        id: 345
        email: johndoe@example.com
        status: active
        first_name: John
        last_name: Doe
        gender: male
        birth_date: 1970-01-01T00:00:00.000Z
        location:
          lat: -34.397
          lng: 150.644
        rating: 2.5
        picture:
          mime: image/gif
          charset: utf-8
          base64: R0lGODlhPQBEAPeoAJosM//AwO/AwHVYZ/z595kzAP/s7P+goOXMv8+fhw/v739/f+8PD98fH/8mJl+fn/9ZWb8/PzWlwv///6wWGbImAPgTEMImIN9gUFCEm/gDALULDN8PAD6atYdCTX9gUNKlj8wZAKUsAOzZz+UMAOsJAP/Z2ccMDA8PD/95eX5NWvsJCOVNQPtfX/8zM8+QePLl38MGBr8JCP+zs9myn/8GBqwpAP/GxgwJCPny78lzYLgjAJ8vAP9fX/+MjMUcAN8zM/9wcM8ZGcATEL+QePdZWf/29uc/P9cmJu9MTDImIN+/r7+/vz8/P8VNQGNugV8AAF9fX8swMNgTAFlDOICAgPNSUnNWSMQ5MBAQEJE3QPIGAM9AQMqGcG9vb6MhJsEdGM8vLx8fH98AANIWAMuQeL8fABkTEPPQ0OM5OSYdGFl5jo+Pj/+pqcsTE78wMFNGQLYmID4dGPvd3UBAQJmTkP+8vH9QUK+vr8ZWSHpzcJMmILdwcLOGcHRQUHxwcK9PT9DQ0O/v70w5MLypoG8wKOuwsP/g4P/Q0IcwKEswKMl8aJ9fX2xjdOtGRs/Pz+Dg4GImIP8gIH0sKEAwKKmTiKZ8aB/f39Wsl+LFt8dgUE9PT5x5aHBwcP+AgP+WltdgYMyZfyywz78AAAAAAAD///8AAP9mZv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAKgALAAAAAA9AEQAAAj/AFEJHEiwoMGDCBMqXMiwocAbBww4nEhxoYkUpzJGrMixogkfGUNqlNixJEIDB0SqHGmyJSojM1bKZOmyop0gM3Oe2liTISKMOoPy7GnwY9CjIYcSRYm0aVKSLmE6nfq05QycVLPuhDrxBlCtYJUqNAq2bNWEBj6ZXRuyxZyDRtqwnXvkhACDV+euTeJm1Ki7A73qNWtFiF+/gA95Gly2CJLDhwEHMOUAAuOpLYDEgBxZ4GRTlC1fDnpkM+fOqD6DDj1aZpITp0dtGCDhr+fVuCu3zlg49ijaokTZTo27uG7Gjn2P+hI8+PDPERoUB318bWbfAJ5sUNFcuGRTYUqV/3ogfXp1rWlMc6awJjiAAd2fm4ogXjz56aypOoIde4OE5u/F9x199dlXnnGiHZWEYbGpsAEA3QXYnHwEFliKAgswgJ8LPeiUXGwedCAKABACCN+EA1pYIIYaFlcDhytd51sGAJbo3onOpajiihlO92KHGaUXGwWjUBChjSPiWJuOO/LYIm4v1tXfE6J4gCSJEZ7YgRYUNrkji9P55sF/ogxw5ZkSqIDaZBV6aSGYq/lGZplndkckZ98xoICbTcIJGQAZcNmdmUc210hs35nCyJ58fgmIKX5RQGOZowxaZwYA+JaoKQwswGijBV4C6SiTUmpphMspJx9unX4KaimjDv9aaXOEBteBqmuuxgEHoLX6Kqx+yXqqBANsgCtit4FWQAEkrNbpq7HSOmtwag5w57GrmlJBASEU18ADjUYb3ADTinIttsgSB1oJFfA63bduimuqKB1keqwUhoCSK374wbujvOSu4QG6UvxBRydcpKsav++Ca6G8A6Pr1x2kVMyHwsVxUALDq/krnrhPSOzXG1lUTIoffqGR7Goi2MAxbv6O2kEG56I7CSlRsEFKFVyovDJoIRTg7sugNRDGqCJzJgcKE0ywc0ELm6KBCCJo8DIPFeCWNGcyqNFE06ToAfV0HBRgxsvLThHn1oddQMrXj5DyAQgjEHSAJMWZwS3HPxT/QMbabI/iBCliMLEJKX2EEkomBAUCxRi42VDADxyTYDVogV+wSChqmKxEKCDAYFDFj4OmwbY7bDGdBhtrnTQYOigeChUmc1K3QTnAUfEgGFgAWt88hKA6aCRIXhxnQ1yg3BCayK44EWdkUQcBByEQChFXfCB776aQsG0BIlQgQgE8qO26X1h8cEUep8ngRBnOy74E9QgRgEAC8SvOfQkh7FDBDmS43PmGoIiKUUEGkMEC/PJHgxw0xH74yx/3XnaYRJgMB8obxQW6kL9QYEJ0FIFgByfIL7/IQAlvQwEpnAC7DtLNJCKUoO/w45c44GwCXiAFB/OXAATQryUxdN4LfFiwgjCNYg+kYMIEFkCKDs6PKAIJouyGWMS1FSKJOMRB/BoIxYJIUXFUxNwoIkEKPAgCBZSQHQ1A2EWDfDEUVLyADj5AChSIQW6gu10bE/JG2VnCZGfo4R4d0sdQoBAHhPjhIB94v/wRoRKQWGRHgrhGSQJxCS+0pCZbEhAAOw==
