openapi: 3.0.0
info:
  description: |
    [**Selit! API**](http://api.selit.ml) es una interfaz basada en HTTP, creada 
    para los desarrolladores que deseen construir nuevas interfaces de 
    aplicación al portal [Selit!](http://selit.ml).

    # Introducción
    Esta API está documentada en **formato OpenAPI**. Además de la sintaxis
    estándar de OpenAPI se usa un [repertorio extendido](https://github.com/Rebilly/ReDoc/blob/master/docs/redoc-vendor-extensions.md).

    La API se estructura en torno a los recursos disponibles dentro de la 
    apliación Selit!. La interacción con dichos recursos se realiza a través de 
    peticiones HTTP. Cada operación sobre un recurso puede requerir un nivel de 
    autenticación diferente.

    ## Recursos
    Los recursos de la API se pueden clasificar según su comportamiento en 
    cuatro grupos.

    | Nombre      | Comentario |
    | ----------- | ---------- |
    | Documento   | Representación de un objeto o insta por el servidor. |
    | Colección   | Conjunto de documentos manejado por el servidor. |
    | Almacén     | Directorio de documentos manejado por el cliente. |
    | Controlador | Procedimiento asociado a un documento. |
        
    Los **Documentos** pueden contener **Colecciones**, así como **Almacenes**,
    como parte de sus atributos. Cada **Documento** tiene asociado un 
    identificador único dentro de las **Colecciones** o **Alamacenes** a los 
    que pertenezca.
        
    Los principales recursos de tipo **Documento** son los siguientes.

    | Recurso | Descripción |
    | ------- | ----------- | 
    | Usuario | Toda persona registrada en la aplicación. | 
    | Anuncio | Venta de un objeto mediante compra directa. |
    | Subasta | Venta de un objeto mediante pujas incrementales. |
    | Chat    | Conversación entre dos usuarios en referencia a un anuncio. |

    ## Operaciones
    Las operaciones sobre los recursos se realizan mediante peticiones HTTP. 
    La semántica de cada petición varía en función del tipo de recurso.

    | Petición | Recurso     | Descripción |
    | -------- | ----------- | ----------- |
    | GET      | Documento   | Obtener la inforación asociada a la instancia. |
    | GET      | Colección   | Lista de objetos que pertenecen al recurso. |
    | GET      | Almacén     | Lista de objetos que han sido añadidos al recurso. |
    | HEAD     | Documento   | Comprueba la existencia de un recurso. |
    | PUT      | Documento   | Inserta o actualiza un documento (o parte de un documento). |
    | POST     | Colección   | Crea un nuevo recurso en la colección. |
    | POST     | Controlador | Ejecuta el comportamiento asociado al procedimiento. |
    | DELETE   | Documento   | Elimina el recurso de su padre. |
    | OPTIONS  | *Todos*     | Devuelve la lista de posibles operaciones sobre el recurso. |

    ## Códigos de respuesta

    Las operaciones con recursos pueden ocasionar errores que serán transmitidos
    en la respuesta a la petición HTTP.

    ### Códigos de éxito

    | Código | Nombre            | Descripción |
    | ------ | ----------------- | ----------- |
    | 200    | OK                | Indica éxito genérico en la operación. |
    | 201    | Created           | Indica que un nuevo recurso ha sido creado (p. ej. en colecciones o almacenes). |
    | 202    | Accepted          | Indica el inicio una acción asíncrona (p. ej. en controladores). |
    | 204    | No Content        | Indica que el cuerpo de la respuesta está vacío de forma intencionada. |
    | 301    | Moved Permanently | Indica que la URI solicitada ya no corresponde con el recurso solicitado. |

    ### Códigos de fracaso
    
    | Código | Nombre                | Descripción |
    | ------ | --------------------- | ----------- |
    | 400    | Bad Request           | Indica un error genérico en la operación. |
    | 401    | Unauthorized          | Indica que los credenciales de usuario son incorrectos o no han sido enviados. |
    | 402    | Forbidden             | Indica que el usuario identificado no tiene permiso para realizar la operación. |
    | 404    | Not Found             | Indica que no se encontró el recurso asociado con la URI. |
    | 405    | Method Not Allowed    | Indica que el método HTTP (petición) no es válido sobre dicho recurso. |
    | 409    | Conflict              | Indica que la operación ha sido rechazada porque violaba restricciones del estado del recurso. |
    | 412    | Precondition Failed   | Indica incumplimiento de una de las precondiciones de la operación. |
    | 415    | Unsupported Media     | Indica que el formato multimedia no es soportado por el servidor. |
    | 500    | Internal Server Error | Indica que el servidor de la API está teniendo problemas ajenos a la petición. |

    La mayoría de los códigos de error irán acompañados de una explicación más 
    detallada en el cuerpo de la respuesta.

    # Autenticación
    Selit! API ofrece los siguientes métodos de autenticación:
      - JWT

    <security-definitions/> 

  version: 1.0.0
  title: Selit! API
  contact:
    name: API Support
    url: 'https://github.com/unizar-30226-2019-07/API'
  x-logo:
    url: 'https://i.imgur.com/UTVJLgd.png'
    altText: Selit logo
  license:
    name: MIT License
    url: 'https://raw.githubusercontent.com/unizar-30226-2019-07/API/master/LICENSE'
tags:
  - name: login
    description: Gestion de sesiones de usuario
  - name: users
    description: Gestión de cuentas de usuario
  - name: products
    description: Gestión de productos
  - name: chats
    description: Gestión de mensajes
x-tagGroups:
  - name: General
    tags:
      - default
  - name: Usuarios
    tags:
      - users
  - name: Productos
    tags:
      - products
  - name: Subastas
    tags:
      - auctions
  - name: Chat
    tags:
      - chats
servers:
  - url: 'http://api.selit.ml/v1'
  - url: 'https://api.selit.ml/v1'